h1 {
    text-align: center;
    color: #c25845;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}

div.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c9a8ce;
    border-radius: 8px;
}

p {
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 1.5;
    color: #333;    
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
    background-color: #c25845;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b7daeb;
}